@model Dish
<h1 class="text-center"> Edit Dish</h1>
<div class="form">
    <form asp-action="Update" asp-controller="Home" method="POST">
        <label class="mt-2"asp-for="Name"></label>
        <input asp-for="Name"></input>
        <span asp-validation-for="Name"></span>
        <label class="mt-2"asp-for="Chef"></label>
        <input asp-for="Chef"></input>
        <span asp-validation-for="Chef"></span>
        <label class="mt-2"asp-for="Calories"></label>
        <input asp-for="Calories"></input>
        <span asp-validation-for="Calories"></span>
        <label class="mt-2" asp-for="Tastiness"></label>
                <select asp-for="Tastiness">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
                <span asp-validation-for="Tastiness"></span>
        <label class="mt-2" asp-for="Description"></label>
        <textarea asp-for="Description" cols="10" rows="5"></textarea>
        <span asp-validation-for="Description"></span>
        <button class="size btn-primary">Submit</button>
    </form>
</div>